<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target name="databaseError" xsi:type="Database" dbProvider="System.Data.SqlClient.SqlConnection, System.Data.SqlClient">
			<connectionString>Server=Localhost;Database=Logging;Integrated Security=true;</connectionString>
			<commandText>INSERT INTO LogEntriesError (LogLevel, Message, Exception, CreatedAt) VALUES (@level, @message, @exception, @time)</commandText>
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString,StackTrace}" />
			<parameter name="@time" layout="${date}" />
		</target>
		
		<target name="databaseUsers" xsi:type="Database" dbProvider="System.Data.SqlClient.SqlConnection, System.Data.SqlClient">
			<connectionString>Server=Localhost;Database=Logging;Integrated Security=true;</connectionString>
			<commandText>INSERT INTO LogEntriesUser (LogLevel, Message, CreatedAt) VALUES (@level, @message, @time)</commandText>
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@time" layout="${date}" />
		</target>
	</targets>
	
]	<rules>
		<logger name="*" minlevel="Trace" writeTo="databaseError" />
		<logger name="databaseUsers" maxlevel="Info" writeTo="databaseUsers" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Error" writeTo="databaseError" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	</rules>

</nlog>
